* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper,
.content {
  position: relative;
  width: 100%;
  z-index: 1;
}

.content {
  overflow-x: hidden;
}

.content .section {
  width: 100%;
  height: 100vh;
}

.content .section.hero {
  background-image: url(https://1.bp.blogspot.com/-CBSM8jTWmIU/YJ1TpNVZS4I/AAAAAAAAIg4/Lqzh4EKai5MvkEbxb2w9Qc4niM7yltyxQCNcBGAsYHQ/s2048/ciencias+naturales.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content .section.gradient-purple {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #6e45e2, #88d3ce);
  padding: 20px;
}

.content .section.gradient-purple .columns {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 76vh;
  color: black;
  font-size: 60px;
  
}


.content .section.gradient-purple .column {
  flex: 1;
  margin: 0 10px;
  background: linear-gradient(135deg, #45e281, #e2e612);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
}

.image-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  perspective: 500px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

